# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows
Thumbs.db
ehthumbs.db

# Logs & Environment
*.log
.env
.env.*
!.env.example

# Editor directories
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
